.TextButton {
  margin: 4px 8px;
  color: #aaa;
  font-size: 1em;
  cursor: pointer;
}

.UnderLine {
  background-color: #aaa;
  height: 2px;
  width: 0%;
  margin: 0px auto;
  transition: width 0.2s ease;
}

.TextButton:hover .UnderLine {
  width: 100%;
}
