.HelloPage {
  background-color: transparent;
  border-color: #bbb;
  color: #bbb;
}

.HelloPage .PageContent {
  justify-content: center;
}

.Title {
  text-align: center;
}

.subtitle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0px;
}

.HelloPage .ArrowButton {
  border-color: #aaa;
}
