.ProjectsPage {
  background-color: #222;
}

.ProjectsList {
  padding: 16px;
}

.ProjectEntry {
  margin: 8px;
  padding: 8px;
  border: 4px solid transparent;
  transition: border-color 0.2s ease;
}

.ProjectEntry:hover {
  border-color: #aaa;
}
