.SkillsPage {
  background-color: #222;
}

.SkillList {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.SkillDescription {
  margin: 48px 0px;
}

.SkillEntry {
  box-sizing: border-box;
  display: inline-block;
  border: 4px solid transparent;
  padding: 8px;
  margin: 8px;
  transition: border 0.2s ease;
}

.SkillEntry:hover {
  border: 4px solid #aaa;
}

.active {
  border: 4px solid #aaa;
}

.SkillEntry i {
  font-size: 7.5rem;
}

.SkillRank {
  padding: 8px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.SkillRankMarkActive {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 8px solid #aaa;
  border-radius: 16px;
  box-sizing: border-box;
}

.SkillRankMark {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 4px solid #aaa;
  border-radius: 16px;
  box-sizing: border-box;
}
