.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 2em;
  padding-right: 16px;
  z-index: 1;
}
